$main_c: #f0f1f4;
$help_c: #d3d4d6;
$need: #899593;
$back_color: #030303;
$a_c: #2c3632;
@mixin lin(){
  color: $main_c;
  text-decoration: none;
  font-family: CMU;
}

@mixin linover(){
  background-color: $a_c;
  border-bottom: 3px solid;
  text-decoration: overline;
}

@font-face {
  font-family: "adobe";
  src: url(AdobeFangsongStd-Regular.otf)
}
@font-face {
  font-family: "CMU";
  src: url(CMU_Typewriter_Text_LightOblique.otf)
}

h1{
  color: $main_c;
  font-family: adobe;
}
h2{
  color: $help_c;
  font-family: CMU;
}

#here{
  display: flex;
  justify-content: center;
}
#vide{
  display: flex;
  justify-content: center;
}
video{
  max-width: 50%;
}
.video{
  display: flex;
  justify-content: center;
}
body{
  background: $back_color;
}

.topNav{
  a{
    padding: 10px;
  }
}
a{
  text-decoration: none;
  color: $main_c;
}
nav{
  margin: auto;
  width: 100%;
  height: 100px;
}
.topNav{
  display: flex;
  justify-content: center;
  background-color: $need;
  margin-top: 10px;
  font-size: 14px;
  a{
    color: $main_c;
    text-align: center;
    padding: 14px 15px;
    font-size: 25px;
  }
  a:hover{
    border-bottom: 4px solid $a_c;
  }
}

.rate{
  width: 40%;
  float: right;
  img{
    max-width: 80%;
    border-radius: 25px;
  }
}
#first{
  position: relative;
  float: left;
  left: 5%;
  max-width: 50%;
  p {
    padding: 5px;
    border: 4px double $help_c;
    color: $help_c;
  }
}

.buttons {
  position: absolute;
  bottom: 7%;
  left: 20%;
  background: $need;
  padding: 5px 10px;
  color: $main_c;
  border-radius: 5px;
  border: 1px solid $help_c;
  font-family: CMU;
  font-size: 16pt;
}
.slider {
  overflow:hidden;
  max-width: 800px;
  max-height: 400px;
  margin:0 auto;
}
span{
  color: $back_color;
}
 .slider .slides {
    position:relative;
    transition:1s;
  }

 .slider .slides .slide {
    float:left;
    display:block;
  }

 .slider .slides .slide img{
    max-width:400px;
    max-height:400px;
  }

 .slider .next {
    position:absolute;
    height:50px;
    width:50px;
    background:$help_c;
    right:10%;
    top:60%;
    z-index:1;
    cursor:pointer;
  }

 .slider .prev {
    position:absolute;
    height:50px;
    width:50px;
    color: $back_color;
    background:$help_c;
    left:10%;
    top:60%;
    z-index:1;
    cursor:pointer;
  }

 footer{
   display: inline-block;
   position: relative;
   bottom: 0%;
   width: 99%;
   height: 80px;
   background-color: $need;
   text-align: center;
 }

@media screen and (max-width: 768px){
  .slider {
    overflow:hidden;
    max-width: 400px;
    max-height: 400px;
    margin:0 auto;
  }
  .slider .slides .slide img{
    max-width:400px;
    max-height:400px;
  }
}
