@font-face {
  font-family: "adobe";
  src: url(AdobeFangsongStd-Regular.otf);
}
@font-face {
  font-family: "CMU";
  src: url(CMU_Typewriter_Text_LightOblique.otf);
}
h1 {
  color: #f0f1f4;
  font-family: adobe;
}

h2 {
  color: #d3d4d6;
  font-family: CMU;
}

#here {
  display: flex;
  justify-content: center;
}

#vide {
  display: flex;
  justify-content: center;
}

video {
  max-width: 50%;
}

.video {
  display: flex;
  justify-content: center;
}

body {
  background: #030303;
}

.topNav a {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #f0f1f4;
}

nav {
  margin: auto;
  width: 100%;
  height: 100px;
}

.topNav {
  display: flex;
  justify-content: center;
  background-color: #899593;
  margin-top: 10px;
  font-size: 14px;
}
.topNav a {
  color: #f0f1f4;
  text-align: center;
  padding: 14px 15px;
  font-size: 25px;
}
.topNav a:hover {
  border-bottom: 4px solid #2c3632;
}

.rate {
  width: 40%;
  float: right;
}
.rate img {
  max-width: 80%;
  border-radius: 25px;
}

#first {
  position: relative;
  float: left;
  left: 5%;
  max-width: 50%;
}
#first p {
  padding: 5px;
  border: 4px double #d3d4d6;
  color: #d3d4d6;
}

.buttons {
  position: absolute;
  bottom: 7%;
  left: 20%;
  background: #899593;
  padding: 5px 10px;
  color: #f0f1f4;
  border-radius: 5px;
  border: 1px solid #d3d4d6;
  font-family: CMU;
  font-size: 16pt;
}

.slider {
  overflow: hidden;
  max-width: 800px;
  max-height: 400px;
  margin: 0 auto;
}

span {
  color: #030303;
}

.slider .slides {
  position: relative;
  transition: 1s;
}

.slider .slides .slide {
  float: left;
  display: block;
}

.slider .slides .slide img {
  max-width: 400px;
  max-height: 400px;
}

.slider .next {
  position: absolute;
  height: 50px;
  width: 50px;
  background: #d3d4d6;
  right: 10%;
  top: 40%;
  z-index: 1;
  cursor: pointer;
}

.slider .prev {
  position: absolute;
  height: 50px;
  width: 50px;
  color: #030303;
  background: #d3d4d6;
  left: 10%;
  top: 40%;
  z-index: 1;
  cursor: pointer;
}

footer {
  display: inline-block;
  position: relative;
  bottom: 0%;
  width: 99%;
  height: 80px;
  background-color: #899593;
  text-align: center;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

th {
  background: #2c3632;
  color: white;
  text-shadow: 0 1px 1px #2D2020;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

th:first-child, td:first-child {
  text-align: left;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}

td {
  padding: 10px 20px;
  background: #899593;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

tr td:last-child {
  border-right: none;
}

@media screen and (max-width: 1168px) {
  .rate {
    display: none;
  }

  #first {
    max-width: 90%;
  }

  .slider {
    overflow: hidden;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
  }

  .prev {
    position: absolute;
    top: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
